body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #cfcfcf;
    background: #242424;
    border-radius: 15px;
}
#profile_pic {
    height: 10%;
    width: 15%
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

.project {
    background: #3b3a3a;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    color: #f1f1f1;
    border-radius: 25px;
}
.project-link {
    color: #fff;
    background: #a6a6a6;
    border-radius: 25px;
    padding: 7px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
